:root{
    --color-primary: #9CA3B4;
    --color-primary-light: #6e83af;
    //--color-secondary: #9CA3B4;

    --color-secondary: #101d2c;
    --color-secondary-dark:  #030608;
    --color-secondary-light: #101d2c69;
    
    --white: white;

    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2: #eee;

    --color-grey-dark: #777;
    --color-grey-dark-1: #999;
    --color-grey-dark-2: #333;


    --color-black-transparent: rgba(0, 0, 0, 0.267);

    //FONT
    --bigger-font-size: 2.25rem;
    --big-font-size: 1.6rem;
    --medium-font-size: 1.5rem;
    --default-font-size: 1.3rem;
    --small-font-size: 1.2rem;
    --tiny-font-size: 0.8rem;
  
  }

  hr{
    width: 100%;
  }