.budget{
    border: solid 1px;
    padding: 1rem;
    box-shadow: 0 3rem 6rem var(--color-black-transparent);

    &Values{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__button{
        background-color: transparent;
        color: var(--color-white);
        border: solid 2px var(--color-primary);
        border-radius: 0;
        font-size: var(--small-font-size);
        margin: 0.2rem;
        align-self: start;
        justify-self: start;
        cursor: pointer;
        animation: moveInBottom .5s ease-out .5s both;

        &:hover{
            background-color: var(--color-secondary);
            color: var(--white);
        }
      }
}

.divBudget{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 1rem;
}