.date {
    &__month {
      font-size: 12px;
      font-weight: 500;
    }
    &__year {
      font-size: 10px;
      font-weight: 200;
    }
    &__day {
      font-size: 22px;
      font-weight: 600;
    }
  }
  