.expense-item{
    color: var(--white);
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 20px;
    margin: 1rem;
    padding: 0 1rem 0 1rem;
    box-shadow: 0 3rem 6rem var(--color-black-transparent);

    &__date{

    }
    &__description{

    }
    &____price{

    }
}