.expense-item {
  color: var(--white);
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  margin: 1rem;
  padding: 0 1rem 0 1rem;

  &__date {
    background-color: var(--color-primary);
    border: 1px solid white;
    border-radius: 20px;
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
  }
  &__description {
  }
  &__price {
    font-size: 1.7rem;
    font-weight: 400;
  }
}

