/*
Text: #f9f7f7
Text-Dark: #dbe2ef

Background: #3f72af
Background-Dark: #112d4e

*/

.Panel{
  display: flex;
  align-items: center; 
  justify-content: center;
  flex-direction: column;
  
}

.App {
  text-align: center;
  background-color: #3f72af;
  width: 80vw;
  height: 7rem;
  margin: 2rem 5rem;
  color: #f9f7f7;
  box-shadow: 5px 5px 5px #112d4e;
  
}

.App-todo li {
  text-align: left;
}

.Counter {
  
}

.Counter__btn {
  background-color: #112d4e;
  color: #f9f7f7;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #112d4e;
  width: 10rem;
}

.TodoList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #3f72af;
  width: 80vw;
  margin: 0 5rem;
  color: #f9f7f7;
  box-shadow: 5px 5px 5px #112d4e;
}

.Navigation {
  background-color: #3f72af;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #112d4e;
  margin-bottom: 2rem;

}

.Navigation li {
  display: inline;
  padding: 1rem;
}

.Navigation__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.WikipediaSearch{
  padding: 1rem;
}