.App {
  text-align: center;
  display: flex;
  align-items: center; 
  justify-content: center
}

.App-todo li {
  text-align: left;
}

.Counter {
  background-color: #ff75a0;
  width: 80vw;
  height: 25vh;
  margin: 5rem;
  color: #eaffd0;
}

.Counter__btn {
  background-color: #fce38a;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px 5px grey;
  width: 10rem;
}
